.nav{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.ex{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.main{
    display: flex;
    justify-content: space-around;
}


.main-item{
    text-decoration: none;
}

.main-item:hover{
    text-decoration: underline;
    color: black;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.blue{
    color: blue;
}